.signin {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.85);
    width: 30vw;
    min-width: 250px;
    padding: 3.5rem;
}

.signin > h1 {
    align-self: flex-start;
    margin-bottom: 0.5rem;
}

.signin > input,
.signin > button {
    border-radius: 7px;
    padding: 15px;
}

.signin > input {
    margin: 0.5rem 0;
    border: none;
    background-color: rgb(224, 231, 241);
    outline: none;
}

.signin > button {
    margin: 1.5rem 0;
    right: 20px;
    top: 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    border: none;
    cursor: pointer;
}

.signin > button:hover {
    background-color: #fa1924;
}

.signing__span {
    align-self: flex-start;
    margin-top: 1rem;
}

.signing__span > span {
    color: lightgray;
}

.signin__bold {
    color: white;
}

.signin__bold:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .signin {
        width: 50vw;
        padding: 2rem;
    }
}

@media (max-width: 767px) {
    .signin {
        width: 90vw;
        padding: 1rem;
    }
}